<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pdf-reader" version="2.6.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-pdf-reader</name>
    <engines>
      <engine name="cordova" version=">=4.0.0" />
    </engines>

  <js-module name="cordova-plugin-pdf-reader" src="www/cordova-plugin-pdf-reader.js">
        <clobbers target="PdfReader" />
  </js-module>


    <!-- android -->
    <platform name="android">
     <framework src="src/android/pluginmanager.gradle" custom="true" type="gradleReference" />

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="PDFViewer" >
          <param name="android-package" value="org.apache.cordova.pdfpluginmanager.PDFViewer"/>
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="org.apache.cordova.pdfpluginmanager.PdfActivity" android:label="PdfActivity"
        android:screenOrientation="portrait" android:theme="@style/PdfTheme"/>

        <provider 
            android:authorities="${applicationId}.pdfprovider" 
            android:name="org.apache.cordova.pdfpluginmanager.PDFFileProvider"
            android:exported="false" 
            android:grantUriPermissions="true" >
            <meta-data 
              android:name="android.support.FILE_PROVIDER_PATHS" 
              android:resource="@xml/pdf_reader_provider_paths" />
        </provider>
        
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>

	<hook type="after_plugin_add" src="hooks/pdfreader_androidAfterInstall.js" />

      <source-file src="src/android/PDFViewer.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/MyScrolHandler.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/PdfActivity.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/PdfUtils.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/BtnObject.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/ScrollEndListener.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="src/android/PDFFileProvider.java" target-dir="src/org/apache/cordova/pdfpluginmanager" />
      <source-file src="res/android/color/btn_text.xml" target-dir="res/color" />
      <source-file src="res/android/drawable/btn_selector.xml" target-dir="res/drawable" />
      <source-file src="res/android/drawable/btn_unchecked.xml" target-dir="res/drawable" />
      <source-file src="res/android/drawable/back_button.png" target-dir="res/drawable" />
	  <source-file src="res/android/drawable/pdfviewer_custom_background.xml" target-dir="res/drawable" />
      <source-file src="res/android/drawable-hdpi/ic_share_white_24dp.png" target-dir="res/drawable-hdpi" />
      <source-file src="res/android/drawable-mdpi/ic_share_white_24dp.png" target-dir="res/drawable-mdpi" />
      <source-file src="res/android/drawable-xhdpi/ic_share_white_24dp.png" target-dir="res/drawable-xhdpi" />
      <source-file src="res/android/drawable-xxhdpi/ic_share_white_24dp.png" target-dir="res/drawable-xxhdpi" />
      <source-file src="res/android/drawable-xxxhdpi/ic_share_white_24dp.png" target-dir="res/drawable-xxxhdpi" />
      <source-file src="res/android/drawable-hdpi/ic_arrow_back_white_24dp.png" target-dir="res/drawable-hdpi" />
      <source-file src="res/android/drawable-mdpi/ic_arrow_back_white_24dp.png" target-dir="res/drawable-mdpi" />
      <source-file src="res/android/drawable-xhdpi/ic_arrow_back_white_24dp.png" target-dir="res/drawable-xhdpi" />
      <source-file src="res/android/drawable-xxhdpi/ic_arrow_back_white_24dp.png" target-dir="res/drawable-xxhdpi" />
      <source-file src="res/android/drawable-xxxhdpi/ic_arrow_back_white_24dp.png" target-dir="res/drawable-xxxhdpi" />
      <source-file src="res/android/layout/activity_pdf.xml" target-dir="res/layout" />
      <source-file src="res/android/layout/modal_header.xml" target-dir="res/layout" />
      <source-file src="res/android/values/colors_pdf.xml" target-dir="res/values" />
      <source-file src="res/android/values/strings_pdf.xml" target-dir="res/values" />
      <source-file src="res/android/values/styles_pdf.xml" target-dir="res/values" />
      <source-file src="res/android/xml/pdf_reader_provider_paths.xml" target-dir="res/xml" />
      <source-file src="assets/fonts/Barlow-Regular.ttf" target-dir="assets/fonts" />

    </platform>

    <!-- ios -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="PdfViewer">
              <param name="ios-package" value="PDFViewer" />
          </feature>
      </config-file>

      <js-module name="cordova-plugin-pdf-reader" src="www/cordova-plugin-pdf-reader.js">
          <clobbers target="PdfReader" />
      </js-module>

      <header-file src="src/ios/PDFViewer.h" />
      <source-file src="src/ios/PDFViewer.m" />
      <header-file src="src/ios/UIColor+BPIColor.h" />
      <source-file src="src/ios/UIColor+BPIColor.m" />
      <source-file src="src/ios/PDFViewerViewController.m" />
      <header-file src="src/ios/PDFViewerViewController.h" />

      <resource-file src="src/ios/PDFViewerViewController.xib" />
      <resource-file src="res/ios/share.png" target-dir="Resources" />
      <resource-file src="res/ios/share@2.png" target-dir="Resources" />
      <resource-file src="res/ios/back.png" target-dir="Resources" />
      <resource-file src="res/ios/back@2.png" target-dir="Resources" />
      <resource-file src="assets/fonts/Barlow-Regular.ttf" target-dir="assets/fonts" />
    </platform>

</plugin>
